html {
	/*border: 8px solid #000;*/
}

body {
    color: rgba(0,0,0,0.8);
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

::selection {
	background: #ABF5D1;
}

a {
	/*
	color: #0829CC;
	text-decoration: none;
	border-bottom: 1px solid rgba(8,41,204,1);
	*/
	color: #1f1f1f;
    text-decoration: none;
    background-color: #B3D4FF;
    font-weight: 500;
    /*border-radius: 7px;*/
    padding: 4px;
}

a:hover,
.homepage div ol li a:hover {
	/*
	border-bottom-color: blue;
	transition: color .3s ease-out;
	-moz-transition: color .3s ease-out;
	-webkit-transition: color .3s ease-out;
	-o-transition: color .3s ease-out;
	*/
	color: #1f1f1f;
    text-decoration: underline;
    background-color: #4C9AFF;
}

a:active {
	color: #ffffff;
	background: #0747A6;
}

a:visited {
	background: #C0B6F2;
	/*border-bottom-color: #782AA1;*/
}

a:visited:hover {
	/*color: #782AA1;*/
	background: #998DD9;
}

a:visited:active {
	color: #ffffff;
	background: #403294;
}

.new {
	font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1B2733;
    border-radius: 4px;
    background-color: #79F2C0;
    padding: 4px 6px;
    line-height: 1;
}

.homepage {
	width: 100%;
}

.homepage header,
.homepage section,
.homepage footer {
	max-width: 640px;
	margin: 88px auto;
	padding: 0 16px;
}

.homepage header {
	margin-top: 40px;
}

.homepage figure {
	margin: 0;
}

.homepage figure img {
	max-width: 100%;
}

figcaption {
	color: rgba(0,0,0,0.4);
	font-size: 0.875em;
	line-height: 1.5em;
	margin: 0px 0 16px;
}

h2 {
	margin: 8px 0;
	font-weight: 600;
	letter-spacing: 0.3px;
}

h3 {
	font-weight: 200;
	letter-spacing: 0.23px;
	line-height: 1.6em;
	margin-top: 0;
}

h4 {
	font-weight: 400;
	font-style: italic;
	margin-bottom: 0px;
}

.homepage nav ul {
	list-style: none;
	overflow: hidden;
	padding: 0;
}

.homepage nav ul li {
	width: 50%;
	float: left;
	overflow: hidden;
	padding: 16px;

	color: rgba(0,0,0,0.6);
	line-height: 1.6em;
	box-sizing: border-box;
}

.homepage nav ul li:nth-child(3){
    clear: both;
}

.homepage nav ul li strong {
	color: rgba(0,0,0,0.8);
}

.homepage nav ul li p {
	margin: 8px 0 0;
}

@media only screen and (max-width: 768px) {
	.homepage header,
    .homepage section,
    .homepage footer {
    	width: 90%;
    	padding: 0 16px;
    }

    .homepage nav ul li {
    	width: auto;
    	float: none;
    	overflow: hidden;
    }
	
}
